# **Week 3 Homework Assignment: Introduction to Databases with SQLite**

# **Objective**:
Introduction to the world of databases, starting with SQLite. Integrate data processing with Python, utilize Pandas for exploratory data analysis, and conduct database operations using SQLite.

# **Instructions**:

## **1. Data Exploration and Analysis**:
1.1 Import pricing transparency datasets from at least two different hospital systems into a Pandas DataFrame. You can use one of the examples provided in the WK3/data folder, or try finding a hospital on your own. The google search approach I used to find these ones was: `{hospital name} price transparency machine readible` - replacing hospital name with the name of the hospital you want to find data for. There will typically be a page that contains download links for a .CSV, .JSON, or .XLS(X) file.  
  - Conduct a basic exploratory analysis using Python, focusing on aspects such as data distribution, missing values, and basic statistics.
  - Document any captivating insights or observations derived from your analysis.
  - My expection is to have at least basic descriptive statistics for numerical columns, and frequency counts for categorical columns

### Import packages and files

In [2]:
import pandas as pd
import numpy as np

sbu = pd.read_csv(r"C:\Users\Xavier\Downloads\stonybrook.csv")
stjoe = pd.read_excel(r'c:\Users\Xavier\Downloads\1013998426_wsnchs-north-inc.-dba-st.-joseph-hospital_standardcharges.xlsx')

### Analyze the first Hospital

#### Cleaning Data

In [3]:
sbu.columns.str.strip()
sbu.columns.str.replace(' ','_')

Index(['Code', 'Description', 'Type', 'Package/Line_Level', 'Gross_charge',
       'Discounted_cash_price', 'De-identified_min_contracted_rate',
       'De-identified_max_contracted_rate', 'Derived_contracted_rate',
       '1199-Commercial_other', 'Aetna-Medicare_Advantage_HMO',
       'Aetna-Commercial_HMO/POS', 'Aetna-Commercial_PPO/Open_Access',
       'Aetna-Commercial_other', 'Empire_Health-Commercial_other',
       'Empire_Health-Commercial_PPO/Open_Access',
       'BlueCross_BlueShield-Commercial_other',
       'Beacon_Health-Commercial_other', 'Carelon_Health-Commercial_other',
       'Cigna-Commercial_PPO/Open_Access', 'Cigna-Commercial_other',
       'Cigna-Commercial_HMO/POS', 'EH_Facet-Commercial_other',
       'EmblemHealth-Commercial_PPO/Open_Access',
       'EmblemHealth-Commercial_other', 'EmblemHealth-Commercial_HMO/POS',
       'EmblemHealth-Medicaid_HMO', 'EmblemHealth-Medicare_Advantage_HMO',
       'Empire_Health-Commercial_HMO/POS',
       'Empire_Health-Medicare_Advantage_HMO', 'Empire_Health-Medicaid_HMO',
       'Evernorth-Commercial_other', 'Fidelis-Commercial_other',
       'Fidelis-Medicare_Advantage_HMO', 'Fidelis-Medicaid_HMO',
       'GHI-Commercial_other', 'HealthFirst-Commercial_other',
       'HealthFirst-Medicare_Advantage_HMO', 'HealthFirst-Medicaid_HMO',
       'HealthPlus_HP-Medicaid_HMO', 'HealthPlus_HP-Commercial_other',
       'HealthPlus_HP-Medicare_Advantage_HMO', 'Humana-Commercial_other',
       'Humana-Commercial_HMO/POS', 'Humana-Commercial_PPO/Open_Access',
       'Meritain_Health-Commercial_other', 'Molina-Commercial_other',
       'Optum-Commercial_other', 'Oxford-Commercial_other',
       'Oxford-Commercial_HMO/POS', 'Tricare-Commercial_other',
       'United_Healthcare-Commercial_other',
       'United_Healthcare-Medicare_Advantage_HMO',
       'United_Healthcare-Commercial_HMO/POS',
       'United_Healthcare-Medicaid_HMO',
       'United_Healthcare-Commercial_PPO/Open_Access',
       'Veteran_Family-Commercial_other'],
      dtype='object')

In [4]:
sbu.shape

(7710, 57)

In [5]:
sbu.head(5)

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
0,10004,"FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...",Outpatient,Line,718.67,718.67,2155.50,2155.50,2155.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
2,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Package,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
3,10006,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,728.54,728.54,58.55,1761.25,909.90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10009,FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...,Outpatient,Line,2823.01,2823.01,446.28,6017.59,4219.31,4592.0,...,NaN,NaN,NaN,NaN,5127.00,NaN,NaN,NaN,NaN,NaN

In [6]:
sbu.tail(5)

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
7705,30981203,R&B SICU 09W1 ICR PT-Z,NaN,NaN,12090.0,12090.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7706,30993018,R&B TICR 09W2 - PT-I,NaN,NaN,13590.0,13590.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7707,33500000,R&B REV PICU 11S2 PT-X,NaN,NaN,8165.0,8165.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,30333058,ROPH HOSP.OBSERVATION PT-T,NaN,NaN,8165.0,8165.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,30000004,SEMI-PRIVATE,NaN,NaN,8165.0,8165.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Descriptive Statistics

In [7]:

sbu.isnull().sum()

Code                                               0
Description                                        0
Type                                             783
Package/Line_Level                               783
Gross charge                                       0
Discounted cash price                              0
De-identified min contracted rate               1456
De-identified max contracted rate               1456
Derived contracted rate                         1456
1199-Commercial other                           6696
Aetna-Medicare Advantage HMO                    6604
Aetna-Commercial HMO/POS                        5883
Aetna-Commercial PPO/Open Access                6098
Aetna-Commercial other                          7582
Empire Health-Commercial other                  4650
Empire Health-Commercial PPO/Open Access        5308
BlueCross BlueShield-Commercial other           6456
Beacon Health-Commercial other                  7707
Carelon Health-Commercial other                 7707
Cigna-Commercial PPO/Open Access                5744
Cigna-Commercial other                          7667
Cigna-Commercial HMO/POS                        7704
EH Facet-Commercial other                       7710
EmblemHealth-Commercial PPO/Open Access         6964
EmblemHealth-Commercial other                   5640
EmblemHealth-Commercial HMO/POS                 6324
EmblemHealth-Medicaid HMO                       7710
EmblemHealth-Medicare Advantage HMO             7710
Empire Health-Commercial HMO/POS                6031
Empire Health-Medicare Advantage HMO            6636
Empire Health-Medicaid HMO                      7708
Evernorth-Commercial other                      7702
Fidelis-Commercial other                        6790
Fidelis-Medicare Advantage HMO                  7442
Fidelis-Medicaid HMO                            5353
GHI-Commercial other                            7710
HealthFirst-Commercial other                    5634
HealthFirst-Medicare Advantage HMO              7608
HealthFirst-Medicaid HMO                        7710
HealthPlus HP-Medicaid HMO                      6920
HealthPlus HP-Commercial other                  7413
HealthPlus HP-Medicare Advantage HMO            7005
Humana-Commercial other                         7677
Humana-Commercial HMO/POS                       7463
Humana-Commercial PPO/Open Access               7236
Meritain Health-Commercial other                7260
Molina-Commercial other                         6963
Optum-Commercial other                          6767
Oxford-Commercial other                         5933
Oxford-Commercial HMO/POS                       7710
Tricare-Commercial other                        7276
United Healthcare-Commercial other              5353
United Healthcare-Medicare Advantage HMO        7086
United Healthcare-Commercial HMO/POS            7577
United Healthcare-Medicaid HMO                  5645
United Healthcare-Commercial PPO/Open Access    7353
Veteran Family-Commercial other                 7664
dtype: int64

In [8]:
sbu = sbu.fillna(0)
sbu.isnull().sum()

Code                                            0
Description                                     0
Type                                            0
Package/Line_Level                              0
Gross charge                                    0
Discounted cash price                           0
De-identified min contracted rate               0
De-identified max contracted rate               0
Derived contracted rate                         0
1199-Commercial other                           0
Aetna-Medicare Advantage HMO                    0
Aetna-Commercial HMO/POS                        0
Aetna-Commercial PPO/Open Access                0
Aetna-Commercial other                          0
Empire Health-Commercial other                  0
Empire Health-Commercial PPO/Open Access        0
BlueCross BlueShield-Commercial other           0
Beacon Health-Commercial other                  0
Carelon Health-Commercial other                 0
Cigna-Commercial PPO/Open Access                0
Cigna-Commercial other                          0
Cigna-Commercial HMO/POS                        0
EH Facet-Commercial other                       0
EmblemHealth-Commercial PPO/Open Access         0
EmblemHealth-Commercial other                   0
EmblemHealth-Commercial HMO/POS                 0
EmblemHealth-Medicaid HMO                       0
EmblemHealth-Medicare Advantage HMO             0
Empire Health-Commercial HMO/POS                0
Empire Health-Medicare Advantage HMO            0
Empire Health-Medicaid HMO                      0
Evernorth-Commercial other                      0
Fidelis-Commercial other                        0
Fidelis-Medicare Advantage HMO                  0
Fidelis-Medicaid HMO                            0
GHI-Commercial other                            0
HealthFirst-Commercial other                    0
HealthFirst-Medicare Advantage HMO              0
HealthFirst-Medicaid HMO                        0
HealthPlus HP-Medicaid HMO                      0
HealthPlus HP-Commercial other                  0
HealthPlus HP-Medicare Advantage HMO            0
Humana-Commercial other                         0
Humana-Commercial HMO/POS                       0
Humana-Commercial PPO/Open Access               0
Meritain Health-Commercial other                0
Molina-Commercial other                         0
Optum-Commercial other                          0
Oxford-Commercial other                         0
Oxford-Commercial HMO/POS                       0
Tricare-Commercial other                        0
United Healthcare-Commercial other              0
United Healthcare-Medicare Advantage HMO        0
United Healthcare-Commercial HMO/POS            0
United Healthcare-Medicaid HMO                  0
United Healthcare-Commercial PPO/Open Access    0
Veteran Family-Commercial other                 0
dtype: int64

In [9]:
sbu.describe()

,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,Aetna-Medicare Advantage HMO,Aetna-Commercial HMO/POS,Aetna-Commercial PPO/Open Access,Aetna-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
count,7.710000e+03,7.710000e+03,7710.000000,7.710000e+03,7710.000000,7710.000000,7710.000000,7710.000000,7710.000000,7710.000000,...,7710.000000,7710.000000,7710.0,7710.000000,7710.000000,7710.000000,7710.000000,7710.000000,7710.000000,7710.000000
mean,2.274832e+04,2.274832e+04,3318.184112,8.140578e+03,5122.916424,761.689241,805.329385,1023.787826,927.514354,28.285447,...,1329.276003,592.944992,0.0,116.533341,1827.351926,359.247259,56.263564,657.348752,36.552756,4.189885
std,7.470570e+04,7.470570e+04,9658.863253,2.654620e+04,13381.140508,9024.408935,5185.413967,4623.889845,4442.963160,692.801952,...,8065.862042,2219.905670,0.0,2070.511499,9384.459880,3085.300723,1408.944384,5799.281743,640.847857,141.895437
min,3.000000e-02,3.000000e-02,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.065895e+03,1.065895e+03,7.992500,7.527000e+01,42.272500,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.745295e+03,4.745295e+03,329.195000,2.352000e+03,1425.850000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.103881e+04,1.103881e+04,3008.800000,7.195000e+03,4890.955000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,154.782500,0.000000,0.000000,7.885000,0.000000,0.000000
max,1.857952e+06,1.857952e+06,327869.690000,1.302636e+06,370099.900000,331304.280000,157848.600000,99999.990000,96372.570000,54838.130000,...,277267.380000,80891.260000,0.0,154940.610000,291490.750000,92493.910000,88051.340000,327869.690000,26350.000000,7195.400000

In [10]:
median_GrossCharge = sbu['Gross charge'].median()
print('The median gross charge is', median_GrossCharge)

median_DiscountedCashPrice = sbu['Discounted cash price'].median()
print('The median discounted cash price is', median_DiscountedCashPrice)

median_DerivedContractedRate = sbu['Derived contracted rate'].median()
print('The median derived contacted rate is', median_DerivedContractedRate)

The median gross charge is 4745.295
The median discounted cash price is 4745.295
The median derived contacted rate is 1425.85

In [11]:
mode_GrossCharge = sbu['Gross charge'].mode()
print('The median gross charge is', mode_GrossCharge)

mode_DiscountedCashPrice = sbu['Discounted cash price'].mode()
print('The median discounted cash price is',mode_DiscountedCashPrice)

mode_DerivedContractedRate = sbu['Derived contracted rate'].mode()
print('The median derived contacted rate is', mode_DerivedContractedRate)

The median gross charge is 0    8165.0
Name: Gross charge, dtype: float64
The median discounted cash price is 0    8165.0
Name: Discounted cash price, dtype: float64
The median derived contacted rate is 0    0.0
Name: Derived contracted rate, dtype: float64

#### Frequency Counts

In [12]:
sbu.columns.values

array(['Code', 'Description', 'Type', 'Package/Line_Level',
       'Gross charge', 'Discounted cash price',
       'De-identified min contracted rate',
       'De-identified max contracted rate', 'Derived contracted rate',
       '1199-Commercial other', 'Aetna-Medicare Advantage HMO',
       'Aetna-Commercial HMO/POS', 'Aetna-Commercial PPO/Open Access',
       'Aetna-Commercial other', 'Empire Health-Commercial other',
       'Empire Health-Commercial PPO/Open Access',
       'BlueCross BlueShield-Commercial other',
       'Beacon Health-Commercial other',
       'Carelon Health-Commercial other',
       'Cigna-Commercial PPO/Open Access', 'Cigna-Commercial other',
       'Cigna-Commercial HMO/POS', 'EH Facet-Commercial other',
       'EmblemHealth-Commercial PPO/Open Access',
       'EmblemHealth-Commercial other', 'EmblemHealth-Commercial HMO/POS',
       'EmblemHealth-Medicaid HMO', 'EmblemHealth-Medicare Advantage HMO',
       'Empire Health-Commercial HMO/POS',
       'Empire Health-Medicare Advantage HMO',
       'Empire Health-Medicaid HMO', 'Evernorth-Commercial other',
       'Fidelis-Commercial other', 'Fidelis-Medicare Advantage HMO',
       'Fidelis-Medicaid HMO', 'GHI-Commercial other',
       'HealthFirst-Commercial other',
       'HealthFirst-Medicare Advantage HMO', 'HealthFirst-Medicaid HMO',
       'HealthPlus HP-Medicaid HMO', 'HealthPlus HP-Commercial other',
       'HealthPlus HP-Medicare Advantage HMO', 'Humana-Commercial other',
       'Humana-Commercial HMO/POS', 'Humana-Commercial PPO/Open Access',
       'Meritain Health-Commercial other', 'Molina-Commercial other',
       'Optum-Commercial other', 'Oxford-Commercial other',
       'Oxford-Commercial HMO/POS', 'Tricare-Commercial other',
       'United Healthcare-Commercial other',
       'United Healthcare-Medicare Advantage HMO',
       'United Healthcare-Commercial HMO/POS',
       'United Healthcare-Medicaid HMO',
       'United Healthcare-Commercial PPO/Open Access',
       'Veteran Family-Commercial other'], dtype=object)

### Analyze The Second Hospital: St Joseph's Hospital

#### Cleaning the Data

In [13]:
stjoe.head(5)

,Billing/Charge Code,Charge Description,Rev Code,CPT/HCPC,Price,NDC,Package Size,Package Unit,Package Description,Charge Quantity
0,3018437801,"HC 1,5 ANHYDROGLUCITOL,INTERM GLY CNTRL Q10378",301,84378,229.0,NaN,NaN,NaN,NaN,NaN
1,3018263400,HC 11 DEOXYCORTISOL,301,82634,271.0,NaN,NaN,NaN,NaN,NaN
2,3018414300,HC 17 HYDROXPREGNENOLONE,301,84143,177.0,NaN,NaN,NaN,NaN,NaN
3,3018349800,HC 17 HYDROXYPROGESTERONE,301,83498,561.0,NaN,NaN,NaN,NaN,NaN
4,3603621500,HC 1ST ORD SEL CATH ART THORAC,360,36215,908.0,NaN,NaN,NaN,NaN,NaN

In [14]:
stjoe.tail(5)

,Billing/Charge Code,Charge Description,Rev Code,CPT/HCPC,Price,NDC,Package Size,Package Unit,Package Description,Charge Quantity
65023,6370000002,XRX ZONISAMIDE 25 MG PO CAPS,250,NaN,316.0,62756-258-02,100.0,each,Bottle,100 each
65024,6370000002,XRX ZONISAMIDE 50 MG PO CAPS,250,NaN,631.0,0378-6726-01,100.0,each,Bottle,100 each
65025,6370000002,XRX ZONISAMIDE 50 MG PO CAPS,250,NaN,631.0,62756-259-02,100.0,each,Bottle,100 each
65026,6370000002,XRX ZONISAMIDE 50 MG PO CAPS,250,NaN,631.0,68001-243-00,100.0,each,Bottle,100 each
65027,6360000001,XRX ZOSTER VACCINE LIVE 19400 UNT/0.65ML SC SUSR,636,90736,1540.0,0006-4963-00,1.0,each,Vial,1 each

In [15]:
stjoe.drop_duplicates(inplace = True)

In [16]:
stjoe.tail(5)

,Billing/Charge Code,Charge Description,Rev Code,CPT/HCPC,Price,NDC,Package Size,Package Unit,Package Description,Charge Quantity
65023,6370000002,XRX ZONISAMIDE 25 MG PO CAPS,250,NaN,316.0,62756-258-02,100.0,each,Bottle,100 each
65024,6370000002,XRX ZONISAMIDE 50 MG PO CAPS,250,NaN,631.0,0378-6726-01,100.0,each,Bottle,100 each
65025,6370000002,XRX ZONISAMIDE 50 MG PO CAPS,250,NaN,631.0,62756-259-02,100.0,each,Bottle,100 each
65026,6370000002,XRX ZONISAMIDE 50 MG PO CAPS,250,NaN,631.0,68001-243-00,100.0,each,Bottle,100 each
65027,6360000001,XRX ZOSTER VACCINE LIVE 19400 UNT/0.65ML SC SUSR,636,90736,1540.0,0006-4963-00,1.0,each,Vial,1 each

I thought that some values under Charge Description might be duplicates but they vary in their National Drug Codes

In [17]:
stjoe.isnull().sum()

Billing/Charge Code        0
Charge Description         0
Rev Code                   0
CPT/HCPC               14468
Price                     92
NDC                    51047
Package Size           51047
Package Unit           51047
Package Description    51110
Charge Quantity        51047
dtype: int64

In [18]:
stjoe.describe()

       Billing/Charge Code      Rev Code          Price  Package Size
count         6.375900e+04  63759.000000   63667.000000  12712.000000
mean          3.503663e+09    308.012422    5923.516640     99.120812
std           1.429444e+09    104.000353   13610.656173    250.988879
min           1.210000e+09    121.000000       0.000000      0.025000
25%           2.780171e+09    278.000000     424.000000      2.000000
50%           2.780177e+09    278.000000    2021.130000     30.000000
75%           2.799000e+09    279.000000    5717.690000    100.000000
max           9.590102e+09    959.000000  574568.750000   5000.000000

#### Descriptive Statistics

In [19]:
mean_price = stjoe['Price'].mean()
print('the mean price is', mean_price)

median_price = stjoe['Price'].median()
print('the median price is', median_price)

mode_price = stjoe['Price'].mode().iloc[0]
print('the mode price is', mode_price)

std_price = stjoe['Price'].std()
print('the standard dcviation of price is', std_price)

var_price = stjoe['Price'].var()
print('the standard dcviation of price is', var_price)

the mean price is 5923.516639860524
the median price is 2021.13
the mode price is 4064.1
the standard dcviation of price is 13610.656173073985
the standard dcviation of price is 185249961.461637

#### Frequency Counts

In [20]:
stjoe.columns = stjoe.columns.str.strip()
stjoe.columns = stjoe.columns.str.replace('/','_')
stjoe.columns

Index(['Billing_Charge Code', 'Charge Description', 'Rev Code', 'CPT_HCPC',
       'Price', 'NDC', 'Package Size', 'Package Unit', 'Package Description',
       'Charge Quantity'],
      dtype='object')

In [21]:
freq_BillingChargeCode = stjoe['Billing_Charge Code'].value_counts()
print('\nThis is the frequency count for Billing/Charge Code\n', freq_BillingChargeCode)

freq_ChargeDescription = stjoe['Charge Description'].value_counts()
print('\nThis is the frequency count for charge description\n',freq_ChargeDescription)

This is the frequency count for Billing/Charge Code
 2780171301    10739
6370000002     6866
2780177600     4664
2780000057     4524
6360000001     3707
              ...
6147556300        1
6147555700        1
6147556100        1
6147555900        1
2791725168        1
Name: Billing_Charge Code, Length: 9536, dtype: int64

This is the frequency count for charge description
 XRX FUROSEMIDE 10 MG/ML IJ SOLN                      33
XRX FENTANYL CITRATE 50 MCG/ML IJ SOLN (WRAPPER)     33
XRX SODIUM CHLORIDE 0.9 % IV SOLN                    32
XRX ROCURONIUM BROMIDE 10 MG/ML IV SOLN (WRAPPER)    28
XRX DEXTROSE 5 % IV SOLN                             25
                                                     ..
ORMS&D CATH COUDE LUB 16FR 5CC                        1
ORMS&D CATH COUDE LUB 18FR 5CC                        1
ORMS&D CATH COUDE LUB 22FR 5CC                        1
ORMS&D CATH COUDE LUB 24FR 5CC                        1
XRX ZOSTER VACCINE LIVE 19400 UNT/0.65ML SC SUSR      1
Name: Charge Description, Length: 54174, dtype: int64

In [22]:
freq_RevCode = stjoe['Rev Code'].value_counts()
print('\nThis is the frequency count for revenue code\n', freq_RevCode)

This is the frequency count for revenue code
 278    33608
250     8313
279     7710
272     4363
636     4065
       ...
730        1
329        1
161        1
413        1
943        1
Name: Rev Code, Length: 131, dtype: int64

## **2. SQLite Database Operations**:

### 2.1 Create a local SQLite database called `health.db`

In [23]:
import sqlite3
connection = sqlite3.connect('health16.db')

### 2.2 *Manual table creation*: Manually create a table (schema) using `CREATE TABLE` SQL query.
#### The table should contain at least 5 columns. Please have at least two columns be numerical columns, and two columns should be categorical (string) columns. Then write at least one `INSERT INTO` SQL query to populate 1 or 2 rows worth of fake data.

In [25]:
c.close
c = connection.cursor()
c.execute('''
CREATE TABLE stjosephs (firstName TEXT, lastName TEXT, dob INT, income INT, zipCpde INT)
''')

NameError: name 'c' is not defined

In [ ]:
c.execute("""
            SELECT name
            FROM sqlite_master
            WHERE type='table'
            ORDER BY name;
          """)
print(c.fetchall())

[('stjosephs',)]

In [ ]:
c.execute('''
INSERT INTO stjosephs(firstName , lastName , dob , income ,zipCpde )
VALUES('XAVIER',    'ALEXANDER',    12021997,    100000,    11413)
    ''')

c.execute('SELECT * FROM stjosephs')
print(c.fetchall())

[('XAVIER', 'ALEXANDER', 12021997, 100000, 11413)]

In [ ]:
connection.commit()
connection.close()

### 2.3. *Automatic table creation*: Implement the `to_sql` function from Pandas to take the example data from Part 1 of this assignment into the SQLite database.

In [ ]:
con = sqlite3.connect('health22.db')


stjoe.to_sql('Price', con=con, if_exists='replace')

cur = con.cursor()
res = cur.execute('''
                  SELECT * FROM Price
                  ''')
print(res.fetchone())

(0, 3018437801, 'HC 1,5 ANHYDROGLUCITOL,INTERM GLY CNTRL Q10378', 301, '84378', 229.0, None, None, None, None, None)

## **Submission**:
- Initiate a new GitHub repository titled `sqlite_database_operations` in your GitHub account.
- Leverage components of code from prior assignments where necessary.
- Configure your GitHub repository to include:
  - Python scripts (or colab notebook) illustrating your exploratory data analysis and database transactions.
  - Your custom SQL queries and analysis (if you embarked on this optional task).
  - A comprehensive README.md file that provides:
    - Details on the datasets you've selected.
    - An account of the exploratory data analysis process.
    - Instructions to replicate your SQLite database setup.
    - Any other pertinent documentation or guidelines.
- Present the URL of your repository as your assignment submission.
- Confirm that your repository is public to ensure it's available for evaluation.

**Tip**: The process of data preprocessing prior to its transfer to any database is crucial. Not only does it guarantee data accuracy, but it also fosters efficient storage and querying.